@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');
:root{
    --red:#b3001b;
    --black:#000;
    --gray:#0a0e35;
    --light_grsy:#232b5c;
    --white:#fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Barlow", sans-serif;

}
ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Oswald", sans-serif;
}
p{
    font-family: "Barlow", sans-serif;
}
img{
    width: 100%;
}
.container{
    max-width: 1300px;
}
.ptb-70{
    padding: 70px 0;
}
.ptb-50{
    padding: 50px 0;
}
.ptb-30{
    padding: 30px 0;
}
/* global css end here */
/* header css start here */
.site-header {
    padding: 20px 20px;
    /* position: fixed; */
    width: 100%;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.site-logo img {
    max-width: 250px;
}
.toggle, .close {
    display: none;
}
.nav-links ul {
    display: flex;
    gap: 50px;
    align-items: center;
}
.site-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links ul li a{
    color: var(--black);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    display: inline-block;
}
.nav-links ul li a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color:var(--red);
    transition: all 0.3s linear;
}
.nav-links ul li a:hover::before, .nav-links ul li a.active::before{
    width: 100%;
    
}
.nav-links ul li a:hover, .nav-links ul li a.active{
    color: var(--red);
}

/* header css end here */

/* banner css start here */
.site-banner{
    background-image: url(../images/hero-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.4;
}
.site-banner .container{
    height: 100%;
}
.banner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}
.banner-txt h3, .banner-txt h2, .banner-txt h1{
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    line-height: 1.1;
}
.banner-txt h3{
    font-size: 30px;
    font-weight: 600;
}
.banner-txt h2{
    font-size: 40px;
    font-weight: 700;
}
.banner-txt h1{
    font-size: 60px;
    font-weight: 800;
    text-shadow: 2px 2px 2px rgb(183 0 18);
    letter-spacing: 8px;
}
.contact-btn a {
    font-size: 18px;
    color: #fff;
    padding: 10px 25px;
    background-color: #b3001b;
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-top: 15px;
    font-weight: 600;
    border-radius: 5px;
}
/* banner css end here */
/* welcome section css start here */
.welcome-txt p{
    font-size: 18px;
    color: var(--black);
}
.welcome-img img {
    height: 100%;
    object-fit: cover;
}.welcome-img {
    height: 500px;
    overflow: hidden;
}

/* welcome section css end here */

/* counter section css start here */
.stats {
    /* border: 1px solid #fff; */
    text-align: center;
    padding: 15px;
    border-left: none;
}
.stats i {
    font-size: 25px;
    color: var(--white);
}
.stats .counting {
    font-size: 30px;
    font-weight: 500;
    margin: 10px 0;
    color: var(--white);
}
.stats h5 {
    font-size: 18px;
    font-weight: 400;
    color: var(--white);
}
#counter-stats{
    background-color: var(--light_grsy);
}
/* counter section css end here */
/* casino page css start here */
.sub-banner{
    background-image: url(../images/sub-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    position: relative;
}
.sub-bnr-txt {
    text-align: center;
    position: relative;
}
.sub-bnr-txt h3 {
    font-size: 35px;
    color: var(--white);
    text-transform: uppercase;
}
.sub-bnr-txt ul{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.sub-bnr-txt ul li{
    font-size: 20px;
    color: var(--white);
}
.sub-bnr-txt ul li a{
    color: var(--red);
    font-weight: 600;
}
.casino-txt{
    width: 70%;
    margin: 0 auto    ;
}
.casino-txt p {
    font-size: 16px;
    text-align: center;
}
.casino-box-txt h3 {
    font-size: 30px;
    color: var(--gray);
    margin-bottom: 15px;
}
.casino-box-txt p{
    font-size: 18px;
    color: var(--black);
}
.casino-box-txt a {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #0a0e35;
    color: #fff;
    display: block;
    width: fit-content;
    margin: 20px 0;
    text-transform: uppercase;
}
.casino-box-txt a i{
    padding-left: 10px;
    font-size: 16px;
}
.casino-img {
    height: 500px;
    overflow: hidden;
}
.casino-img img{
    height: 100%;
    object-fit: contain;
}
.casino-wrap {
    margin-bottom: 50px;
}
.casino-wrap .row {
    align-items: center;
}
/* casino page css end here */

/* cruises page css start here */
.cruise-wrap {
    border: 1px solid #b9b9b9;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    margin-bottom: 25px;

}
.cruise-img {
    height: 250px;
}
.cruise-img img{
    object-fit: cover;
    height: 100%;
}
.cruise-txt {
    padding: 10px 15px;
}
.cruise-txt h3 {
    font-size: 22px;
    margin-bottom: 10px;
}
.cruise-txt p {
    font-size: 16px;
    color: #000;
    min-height: 220px;

}
/* crises page css end here  */
























/* footer section css start here */
.site-footer {
background-color: var(--gray);
}
.footer-logo img {
    width: 300px;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.footer-links ul li a{
    font-size: 16px;
    color: var(--white);
    text-transform: uppercase;
}
.footer-links ul li a:hover{
    color: var(--red);
    transition: all 0.3s linear;
}
.footer-links {
    margin: 30px 0;
}
.copy-right p {
    font-size: 16px;
    color: #ffffff9c;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid #fff;
}
.copy-right p a{
    color: var(--red);
}
/* footer section css end here */